	<style type="text/css">
	#main_view{
		background-color:#eeeeee;
		font-size:14px;
	}
	section{
		padding:24px 0px;
		width:100%;
		background-color:#39383d;
		text-align: center;
	}
	section>img{
		width:78px;
		border-radius: 78px;
		-webkit-border-radius: 78px;
		border:3px solid #fff;
	}
	section>p{
		font-size:14px;
		color:#fff;
		padding:7px;
	}
	section>span:nth-of-type(1){
		padding:1px 3px 1px 15px;
		background-color:#ff9999;
		color:#fff;
		font-size:12px;
		border-radius: 3px;
		margin-right:7px;
	}
	section>span:nth-of-type(2){
		font-size:12px;
		color:rgb(152,152,152);
	}
	nav{
		display:-webkit-box;
		background-color:#f8f8f8;
		
	}
	nav>a{
		display:block;
		-webkit-box-flex:1;
		text-align: center;
		padding:15px 0px;
		position:relative;
		color:#989898;
	}
	nav>a>div:after{
		content: "";
		display: block;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0px;
		width: 0;
		border-width: 0 10px 10px;
		border-style: solid;
		border-color: #eeeeee transparent;
	}
	nav>a:hover{
		color:#777777;
	}
	#Dynamic{
		margin:10px 5px 0px;
		padding-bottom:10px;
		display:-webkit-box;
		border-bottom:1px solid #f5f5f5;
	}
	#Dynamic>div:nth-of-type(1){
		width:50px;
		text-align: center;
		margin-right:10px;
	}
	#Dynamic>div:nth-of-type(1)>img{
		width:50px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#Dynamic>div:nth-of-type(2){
		-webkit-box-flex:1;
	}
	#Dynamic>div:nth-of-type(2)>p{
		color:#666;
		font-size:14px;
		margin-top:5px;
	}
	#Dynamic>div:nth-of-type(2)>p>span{
		color:#989898;
		margin-left:20px;
	}
	#Dynamic .img{
		width:70px;
		margin-right:10px;
		float:left;
		margin-top:10px;
		height:70px;
	}
	#Dynamic .img>img{
		width:70px;
		height:70px;
	}
	#Dynamic .util{
		clear:both;
		padding-top:5px;

	}
	#Dynamic .util span{
		color:#9a9a9a;
		float:right;
		margin-left:10px;
	}
	#Dynamic .util span:nth-of-type(1){
		float:left;
		color:#d6d6d6;
		margin-left:0px;
	}
	#Dynamic .game_info{
		display:-webkit-box;
	}
	#Dynamic .game_info img{
		width:90px;
		height:55px;
		margin-top:10px;
	}
	#Dynamic .game_info>div{
		margin-top:10px;
		-webkit-box-flex: 1;
		font-size:14px;
		margin-left:10px;
	}
	#Dynamic .game_info>div>p:nth-of-type(1){
		color:#666;
	}
	#Dynamic .game_info>div>p:nth-of-type(2){
		color:#ababab;
	}
	</style>
		