<div class="mobile_success">
	<DIV class="success">
		<img class="success_img" style="width:50%" height="50%" src="/images/wap/success.png" >
	</DIV>
	<p>报名成功咯~</p>
	<div class="succ_btn">
		<button linkable style="margin-right:20px;font-size:14px;" class=" btn vertical_middle" href="http://mp.weixin.qq.com/s?__biz=MjM5MTM5OTgzMg==&mid=200440458&idx=1&sn=9ef35f717e56447a1f73778e3e013864#rd">关注微信</button>
			
		<button linkable href="#/home" style="font-size:14px;" class="btn vertical_middle">返回首页</button>
	</div>
</div>