  <h3 class="exam_title">测试你出轨的概率有多大！</h3>
<!-- 测试启动页面，测试未开始 -->
  <img src="http://photobucket.oss-cn-hangzhou.aliyuncs.com/wap/chugui.jpg" style="width:{{button_width}}px">
  <p class="open_intro">&nbsp;&nbsp;在爱情里，你能抵制住诱惑吗？有些人（文章）看似专一，心里却藏着其他心思；有些人（我，加班的苦逼程序员）表面对谁都吊儿郎当，却只会对一个人付出真心。真正的专一不是一辈子只爱一个人，而是，爱着的时候，只爱一个。来测测你会不会出轨吧。</p>
  <div class="btn_container">
    <button style="width:{{button_width}}px" class="btn start" ng-click="start()">开始测试</button>
    <!-- <a href="http://mp.weixin.qq.com/s?__biz=MjM5MTM5OTgzMg==&mid=200440458&idx=1&sn=9ef35f717e56447a1f73778e3e013864#rd">
      <button class="btn">关注高大上的奶酪汇，找个对象先~~~</button>
    </a> -->
  </div>
<style type="text/css">
.content_container img {
  margin-left: 10px;
  margin-right: 10px;
}
p {
  margin: 10px 15px;
}
.option {
  margin: 5px 0px;

}
.result_point {
  color: #FF0000;
  font-size: 18px;
}
.btn_container {
  width: 100%;
  /*margin: 0 15px;*/

  text-align: center;
}
.btn {
  width: 100%;
  font-size: 14px;   
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.exam_title {
  font-weight: bold;
  margin: 10px 5px;
}
</style>